<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hierarchical NLG Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    #title {
      color:#404040; 
      font-family: "Lucida Grande";
      font-weight: 900;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    .switch-field {
      font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
      padding: 10px;
      overflow: hidden;
    }
    .switch-title {
      margin-bottom: 6px;
    }
    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field label {
      float: left;
    }

    .switch-field label {
      display: inline-block;
      /*width: 60px;*/
      background-color: #e4e4e4;
      /*color: rgba(0, 0, 0, 0.6);*/
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: none;
      border-radius: 4px;
      padding: 6px 14px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition:    all 0.1s ease-in-out;
      -ms-transition:     all 0.1s ease-in-out;
      -o-transition:      all 0.1s ease-in-out;
      transition:         all 0.1s ease-in-out;
    }
    .switch-field label:hover {
      cursor: pointer;
    }
    .switch-field input:checked + label {
      background-color: #A5DC86; /*5C8DAF*/
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .switch-submit {
      font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
      padding: 10px;
      overflow: hidden;
    }
    .switch-submit input {
      border-radius: 3px;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 12px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;      
    }
    .generated-word {
      line-height: 30px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div style="padding: 20px 0px 0px 5px;">
        <img src="{{url_for('static', filename='img/logo.png')}}" width="100">
      </div>
      <h2 id="title">Hierarchical NLG</h2>
      <p><a href="http://aclweb.org/anthology/N18-2010">http://aclweb.org/anthology/N18-2010</a></p>
      <!-- <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
      </ul><br> -->

      <div class="input-group">
        <form action="/result" method="POST">
          <div class="switch-field">
            <div class="switch-title"><b>Area</b></div>
            <input type="radio" id="switch_area_1" name="area" value="city_centre" checked/>
            <label for="switch_area_1">City Centre</label>
            <input type="radio" id="switch_area_2" name="area" value="riverside" />
            <label for="switch_area_2">Riverside</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Customer Rating</b></div>
            <input type="radio" id="switch_customer_1" name="customerRating" value="1_out_of_5" checked/>
            <label for="switch_customer_1">1 out of 5</label>
            <input type="radio" id="switch_customer_2" name="customerRating" value="3_out_of_5" />
            <label for="switch_customer_2">3 out of 5</label>
            <input type="radio" id="switch_customer_3" name="customerRating" value="5_out_of_5" />
            <label for="switch_customer_3">5 out of 5</label>
            <input type="radio" id="switch_customer_4" name="customerRating" value="average" />
            <label for="switch_customer_4">Average</label>
            <input type="radio" id="switch_customer_5" name="customerRating" value="high" />
            <label for="switch_customer_5">High</label>
            <input type="radio" id="switch_customer_6" name="customerRating" value="low" />
            <label for="switch_customer_6">Low</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Eating Type</b></div>
            <input type="radio" id="switch_eating_1" name="eatType" value="coffee" checked/>
            <label for="switch_eating_1">Coffee</label>
            <input type="radio" id="switch_eating_2" name="eatType" value="pub" />
            <label for="switch_eating_2">Pub</label>
            <input type="radio" id="switch_eating_3" name="eatType" value="restaurant" />
            <label for="switch_eating_3">Restaurant</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Family Friendly</b></div>
            <input type="radio" id="switch_family_1" name="familyFriendly" value="no" checked/>
            <label for="switch_family_1">No</label>
            <input type="radio" id="switch_family_2" name="familyFriendly" value="yes" />
            <label for="switch_family_2">Yes</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Food</b></div>
            <input type="radio" id="switch_food_1" name="food" value="chinese" checked />
            <label for="switch_food_1">Chinese</label>
            <input type="radio" id="switch_food_2" name="food" value="english" />
            <label for="switch_food_2">English</label>
            <input type="radio" id="switch_food_3" name="food" value="fast_food" />
            <label for="switch_food_3">Fast Food</label>
            <input type="radio" id="switch_food_4" name="food" value="french"/>
            <label for="switch_food_4">French</label>
            <input type="radio" id="switch_food_5" name="food" value="indian"/>
            <label for="switch_food_5">Indian</label>
            <input type="radio" id="switch_food_6" name="food" value="italian"/>
            <label for="switch_food_6">Italian</label>
            <input type="radio" id="switch_food_7" name="food" value="japanese" />
            <label for="switch_food_7">Japanese</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Name</b></div>
            <input type="radio" id="switch_name_1" name="name" value="alimentum" checked/>
            <label for="switch_name_1">Alimentum</label>
            <input type="radio" id="switch_name_2" name="name" value="aromi" />
            <label for="switch_name_2">Aromi</label>
            <input type="radio" id="switch_name_3" name="name" value="bibimbap_house" />
            <label for="switch_name_3">Bibimbap House</label>
            <input type="radio" id="switch_name_4" name="name" value="blues_pice" />
            <label for="switch_name_4">Blue Spice</label>
            <input type="radio" id="switch_name_5" name="name" value="browns_cambridge" />
            <label for="switch_name_5">Browns Cambridge</label>
            <input type="radio" id="switch_name_6" name="name" value="clowns" />
            <label for="switch_name_6">Clowns</label>
            <input type="radio" id="switch_name_7" name="name" value="cocum" />
            <label for="switch_name_7">Cocum</label>
            <input type="radio" id="switch_name_8" name="name" value="cotto" />
            <label for="switch_name_8">Cotto</label>
            <input type="radio" id="switch_name_9" name="name" value="fitzbillies" />
            <label for="switch_name_9">Fitzbillies</label>
            <input type="radio" id="switch_name_10" name="name" value="giraffe" />
            <label for="switch_name_10">Giraffe</label>
            <input type="radio" id="switch_name_11" name="name" value="green_man" />
            <label for="switch_name_11">Green Man</label>
            <input type="radio" id="switch_name_12" name="name" value="loch_fyne" />
            <label for="switch_name_12">Loch Fyne</label>
            <input type="radio" id="switch_name_13" name="name" value="midsummer_house" />
            <label for="switch_name_13">Midsummer House</label>
            <input type="radio" id="switch_name_14" name="name" value="strada" />
            <label for="switch_name_14">Strada</label>
            <input type="radio" id="switch_name_15" name="name" value="taste_of_cambridge" />
            <label for="switch_name_15">Taste of Cambridge</label>
            <input type="radio" id="switch_name_16" name="name" value="the_cambridge_blue" />
            <label for="switch_name_16">The Cambridge Blue</label>
            <input type="radio" id="switch_name_17" name="name" value="the_cricketers" />
            <label for="switch_name_17">The Cricketers</label>
            <input type="radio" id="switch_name_18" name="name" value="the_dumpling_tree" />
            <label for="switch_name_18">The Dumpling Tree</label>
            <input type="radio" id="switch_name_19" name="name" value="the_eagle" />
            <label for="switch_name_19">The Eagle</label>
            <input type="radio" id="switch_name_20" name="name" value="the_golden_curry" />
            <label for="switch_name_20">The Golden Curry</label>
            <input type="radio" id="switch_name_21" name="name" value="the_golden_palace" />
            <label for="switch_name_21">The Golden Palace</label>
            <input type="radio" id="switch_name_22" name="name" value="the_mill" />
            <label for="switch_name_22">The Mill</label>
            <input type="radio" id="switch_name_23" name="name" value="the_olive_grove" />
            <label for="switch_name_23">The Olive Grove</label>
            <input type="radio" id="switch_name_24" name="name" value="the_phoenix" />
            <label for="switch_name_24">The Phoenix</label>
            <input type="radio" id="switch_name_25" name="name" value="the_plough" />
            <label for="switch_name_25">The Plough</label>
            <input type="radio" id="switch_name_26" name="name" value="the_punter" />
            <label for="switch_name_26">The Punter</label>
            <input type="radio" id="switch_name_27" name="name" value="the_rice_boat" />
            <label for="switch_name_27">The Rice Boat</label>
            <input type="radio" id="switch_name_28" name="name" value="the_twenty_two" />
            <label for="switch_name_28">The Twenty Two</label>
            <input type="radio" id="switch_name_29" name="name" value="the_vaults" />
            <label for="switch_name_29">The Vaults</label>
            <input type="radio" id="switch_name_30" name="name" value="the_waterman" />
            <label for="switch_name_30">The Waterman</label>
            <input type="radio" id="switch_name_31" name="name" value="the_wrestlers" />
            <label for="switch_name_31">The Wrestlers</label>
            <input type="radio" id="switch_name_32" name="name" value="travellers_rest_beefeater" />
            <label for="switch_name_32">Travellers Rest Beefeater</label>
            <input type="radio" id="switch_name_33" name="name" value="wildwood" />
            <label for="switch_name_33">Wildwood</label>
            <input type="radio" id="switch_name_34" name="name" value="zizzi" />
            <label for="switch_name_34">Zizzi</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Near</b></div>
            <input type="radio" id="switch_near_1" name="near" value="all_bar_one" checked/>
            <label for="switch_near_1">All Bar One</label>
            <input type="radio" id="switch_near_2" name="near" value="avalon" />
            <label for="switch_near_2">Avalon</label>
            <input type="radio" id="switch_near_3" name="near" value="burger_king" />
            <label for="switch_near_3">Burger King</label>
            <input type="radio" id="switch_near_4" name="near" value="cafe_adriatic" />
            <label for="switch_near_4">Café Adriatic</label>
            <input type="radio" id="switch_near_5" name="near" value="cafe_brazil" />
            <label for="switch_near_5">Café Brazil</label>
            <input type="radio" id="switch_near_6" name="near" value="cafe_rouge" />
            <label for="switch_near_6">Café Rouge</label>
            <input type="radio" id="switch_near_7" name="near" value="cafe_sicilia" />
            <label for="switch_near_7">Café Sicilia</label>
            <input type="radio" id="switch_near_8" name="near" value="clare_hall" />
            <label for="switch_near_8">Clare Hall</label>
            <input type="radio" id="switch_near_9" name="near" value="crowne_plaza_hotel" />
            <label for="switch_near_9">Crowne Plaza Hotel</label>
            <input type="radio" id="switch_near_10" name="near" value="express_by_holiday_inn" />
            <label for="switch_near_10">Express by Holiday Inn</label>
            <input type="radio" id="switch_near_11" name="near" value="rainbow_vegeterian_cafe" />
            <label for="switch_near_11">Rainbow Vegetarian Café</label>
            <input type="radio" id="switch_near_12" name="near" value="raja_indian_cuisine" />
            <label for="switch_near_12">Raja Indian Cuisine</label>
            <input type="radio" id="switch_near_13" name="near" value="ranch" />
            <label for="switch_near_13">Ranch</label>
            <input type="radio" id="switch_near_14" name="near" value="the_bakers" />
            <label for="switch_near_14">The Bakers</label>
            <input type="radio" id="switch_near_15" name="near" value="the_portland_arms" />
            <label for="switch_near_15">The Portland Arms</label>
            <input type="radio" id="switch_near_16" name="near" value="the_rice_boat" />
            <label for="switch_near_16">The Rice Boat</label>
            <input type="radio" id="switch_near_17" name="near" value="the_six_bells" />
            <label for="switch_near_17">The Six Bells</label>
            <input type="radio" id="switch_near_18" name="near" value="the_sorrento" />
            <label for="switch_near_18">The Sorrento</label>
            <input type="radio" id="switch_near_19" name="near" value="yippee_noodle_bar" />
            <label for="switch_near_19">Yippee Noodle Bar</label>
          </div>
          <div class="switch-field">
            <div class="switch-title"><b>Price Range</b></div>
            <input type="radio" id="switch_pricerange_1" name="priceRange" value="cheap" checked/>
            <label for="switch_pricerange_1">Cheap</label>
            <input type="radio" id="switch_pricerange_2" name="priceRange" value="high" />
            <label for="switch_pricerange_2">High</label>
            <input type="radio" id="switch_pricerange_3" name="priceRange" value="less_than_20" />
            <label for="switch_pricerange_3">less than £20</label>
            <input type="radio" id="switch_pricerange_4" name="priceRange" value="moderate" />
            <label for="switch_pricerange_4">moderate</label>
            <input type="radio" id="switch_pricerange_5" name="priceRange" value="more_than_30" />
            <label for="switch_pricerange_5">more than £30</label>
            <input type="radio" id="switch_pricerange_6" name="priceRange" value="20_25" />
            <label for="switch_pricerange_6">£20-25</label>
          </div>
          
          <div class="switch-submit" align="center">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-9" align="center">
      <div class="row">
        <h3>Generated Sentences</h3>
        {% for k,v in request.items() %}
          <b>{{k}}:</b> {{v[0]}}<br>
        {% endfor %}
        <hr>
        {% for list in resultList %}
        <h4>
        {% for j in list %}
          {% if j[2] == 'n' %}
            <span class="label label-success generated-word">{{j[1]}}</span>&nbsp;
          {% elif j[2] == 'v' %}
            <span class="label label-primary generated-word">{{j[1]}}</span>&nbsp;
          {% elif j[2] == 'a' %}
            <span class="label label-info generated-word">{{j[1]}}</span>&nbsp;
          {% elif j[2] == 'other' %}
            <span class="label label-warning generated-word">{{j[1]}}</span>&nbsp;
          {% endif %}   
        {% endfor %}
        </h4>
        <h2><span class="glyphicon glyphicon-arrow-down"></span></h2>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10" align="center">
          <h3><span class="label label-danger">{{resultSent}}</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="container-fluid" style="height: 8vh; background-color: white">
  <img src="{{url_for('static', filename='img/logo.png')}}" width="100">
</footer>
 -->
</body>
</html>

